
@{
    ViewBag.Title = "Hizmet";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}


<html lang="en">

<body>


    <section class="w3l-breadcrumb">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">

                <h2>Hizmetlerimiz</h2>
                <p><a href="/Anasayfa/Index/">Ana Sayfa</a> &nbsp; / &nbsp; Hizmetlerimiz</p>

            </div>
        </div>
    </section>
    <!--  services section -->
    <section class="w3l-servicesblock1" id="service">
        <div class="features-with-17_sur py-5">
            <div class="container py-lg-5 py-sm-4">
                <div class="features-with-17-top_sur">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 align-self">
                            
                            <h3 class="title-small">Lüx Odalar</h3>
                            <p>
                                Her grubun ihtiyacına yönelik farklı büyüklükte iyi tasarlanmış odalarımıza göz atın.
                                Her odada özel banyo,televizyon ve kasa bulunmaktadır.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Rahat bir uyku</h5>
                                    <h6><a href="#url">Odalarımız</a></h6>
                                    <p>
                                        Odalarımız sizlerin en iyi şekilde dinlenebilmesi için özenle tasarlanmıştır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-beer" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Yeme & İçme</h5>
                                    <h6><a href="#url">Restorant</a></h6>
                                    <p>
                                        Birbirinden lezzetli yemekler ile tatilinizi taçlandırın.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-wifi" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Bağlantı</h5>
                                    <h6><a href="#url">Yüksek Hızda İnternet</a> </h6>
                                    <p>
                                        Toplantı ve iş yemeklerimiz için otelimizi tercih edebilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Konfor & Rahatlık</h5>
                                    <h6><a href="#url">Spa & Masaj Merkezi</a> </h6>
                                    <p>
                                        Spa, geleneksel hamam ve masaj merkezimizde rahatlamanın keyfini çıkarın.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-headphones" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Güvenli & Huzurlu </h5>
                                    <h6><a href="#url"> 7/24 Hizmet</a> </h6>
                                    <p>
                                        Ailenizle tatilin tadını çıkartırken güvenliğiniz bize emanet.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-stats">
        <div class="main-w3 py-5">
            <div class="container py-lg-3">
                <div class="row align-items-center">
                    <div class="col-md-6 title">
                        <h3 class="title-big">Otelimiz</h3>
                        <img src="~/hotels-starter/hotels-starter/assets/images/facilities.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 main-cont-wthree-fea text-center">
                        <div class="row">
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-television"></span>
                                    <h3 class="title-spe">Tv</h3>
                                    <p> Kesintisiz Yayın</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-motorcycle"></span>
                                    <h3 class="title-spe">Bisiklet</h3>
                                    <p>Kiralama Hizmeti</p>
                                </div>
                            </div>
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-cutlery"></span>
                                    <h3 class="title-spe">Restoran</h3>
                                    <p>Lezzetli Yemekler</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-bed"></span>
                                    <h3 class="title-spe">Oda</h3>
                                    <p>Özenle Tasarlanmış</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="w3l-feature-2">
        <div class="grid top-bottom py-5">
            <div class="container py-md-5">
                <h3 class="title-big text-center">Odalarımız Özenle Tasarlanmıştır</h3>
                <div class="middle-section row mt-lg-5 pt-md-3">
                    <div class="three-grids-columns col-lg-4 col-md-6">
                        <img src="~/hotels-starter/hotels-starter/assets/images/slide1.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4><a href="#url"> Harika Odalar</a></h4>
                            <p>
                                Her grubun ihtiyacına uygun konforlu ve modern odalar.
                            </p>
                            <a href="services.html" class="btn mt-4">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-md-0 mt-4">
                        <img src="~/hotels-starter/hotels-starter/assets/images/slide2.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url"> Sosyal Alanlar </a></h4>
                            <p>
                                Sevdiklerinizle güzel vakitler geçirebileceğiniz dinlenme alaları.
                            </p>
                            <a href="services.html" class="btn mt-4">Daha Fazlası </a>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <img src="~/hotels-starter/hotels-starter/assets/images/slide3.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url"> Spa and Havuz </a></h4>
                            <p>
                                Rahatlamak ve eğlenmek için havuz ve spa merkezimiz hizmetinizde.
                            </p>
                            <a href="services.html" class="btn mt-4">Daha Fazlası </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>

